In [2]:
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso

In [3]:
path = 'fut.csv'
df = pd.read_csv(path)
df.head()

,Name,Team,Position,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,...,Own_goals,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points
0,Abraham,CHE,FWD,54,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0.1,0,0,0
1,Adam Smith,BOU,DEF,45,70.2,172.4,51.0,29.4,12,1,...,0,0,0,0,1,1,0.8,965,0,37
2,Adrian,WHU,GKP,43,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0.3,0,0,0
3,Aguero,MCI,FWD,115,260.3,388.8,741.0,138.9,5,8,...,0,0,0,0,2,0,53.6,875,9,80
4,Ake,BOU,DEF,50,12.7,306.4,161.0,48.0,16,1,...,0,0,0,0,0,0,4.9,1080,4,43

In [4]:
#Eliminamos las columnas no numericas
df.drop(['Name', 'Team','Position'], axis=1,inplace=True) 
df.head();

In [5]:
df

,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,Assists,Own_goals,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points
0,54,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.1,0,0,0
1,45,70.2,172.4,51.0,29.4,12,1,0,0,0,0,0,1,1,0.8,965,0,37
2,43,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0.3,0,0,0
3,115,260.3,388.8,741.0,138.9,5,8,6,0,0,0,0,2,0,53.6,875,9,80
4,50,12.7,306.4,161.0,48.0,16,1,0,0,0,0,0,0,0,4.9,1080,4,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,50,16.3,140.4,49.0,20.6,10,0,1,0,0,0,0,0,0,0.3,721,3,28
548,54,106.4,194.4,162.0,46.2,17,1,1,0,0,0,0,2,0,3.7,1080,5,41
549,60,15.7,262.6,86.0,36.5,5,0,0,0,0,0,0,1,0,17.1,1044,5,51
550,47,57.6,27.8,41.0,12.6,6,0,0,0,0,0,0,0,0,0.0,405,0,10
551,83,306.0,224.0,107.0,63.8,11,3,1,0,0,0,0,1,0,5.5,820,7,46

In [9]:
X = df.drop("Cost",1)##caracteristicas
y=df["Cost"]

In [10]:
##En este ejercicio usaremos la eliminacion hacia adelante
def backward_elimination(data, target,significance_level = 0.05):
    features = data.columns.tolist()
    while(len(features)>0):
        features_with_constant = sm.add_constant(data[features])
        p_values = sm.OLS(target, features_with_constant).fit().pvalues[1:]
        max_p_value = p_values.max()
        if(max_p_value >= significance_level):
            excluded_feature = p_values.idxmax()
            features.remove(excluded_feature)
        else:
            break 
    return features

In [11]:
# El resultado es una lista final de caracterÃ­sticas significativas basadas en valores p a
#travÃ©s de la selecciÃ³n hacia adelante .
backward_elimination(X,y)

C:\Users\Usuario\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

['Creativity',
 'Influence',
 'ICT',
 'Goals_conceded',
 'Goals_scored',
 'Saves',
 'Points']